<h1>レビューを編集する</h1>

<% if @review.book_image_url.present? %>
  <%= image_tag @review.book_image_url, class: "img-fluid mb-3" %>
<% end %>
<h2 class="mb-2"><%= @review.book_title %></h2>
<p class="mb-4"><strong>著者:</strong> <%= @review.book_author %></p>

<%= form_with(model: @review, url: review_path(@review), method: :patch, html: { class: 'needs-validation', novalidate: '' }) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :reviewer, value: current_user.name %>
  <%= form.hidden_field :book_title, value: @review.book_title %>
  <%= form.hidden_field :book_author, value: @review.book_author %>
  <div class="form-group mb-3">
    <%= form.label "評価", class: 'form-label' %>
    <%= form.select :rating, (1..5), { selected: @review.rating }, { class: 'form-select' } %>
  </div>

  <div class="form-group mb-3">
    <%= form.label "読了日", class: 'form-label' %>
    <%= form.date_field :read_date, value: @review.read_date, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= form.label "レビュー", class: 'form-label' %>
    <%= form.text_area :content, value: @review.content, class: 'form-control' %>
  </div>

  <div class="d-none">
    <%= form.hidden_field :book_image_url, value: @review.book_image_url %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions mt-3">
    <%= form.submit "更新する", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to "キャンセル", mypage_user_path(current_user), class: 'btn btn-secondary mt-2' %>
