<!-- app/views/reviews/edit.html.erb -->

<h1>レビューを編集する</h1>

<%= form_with(model: @review, url: review_path(@review), method: :patch) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reviewer %>
    <%= form.text_field :reviewer, value: current_user.name, readonly: true %>
  </div>

  <div class="field">
    <%= form.label :book_title %>
    <%= form.text_field :book_title, value: @review.book_title %>
  </div>

  <div class="field">
    <%= form.label :book_author %>
    <%= form.text_field :book_author, value: @review.book_author %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.select :rating, (1..5), selected: @review.rating %>
  </div>

  <div class="field">
    <%= form.label :read_date %>
    <%= form.date_field :read_date, value: @review.read_date %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, value: @review.content %>
  </div>

  <div class="field">
    <%= form.hidden_field :book_image_url, value: @review.book_image_url %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit "更新する" %>
  </div>
<% end %>

<%= link_to "キャンセル", mypage_user_path(current_user) %>
